[submodule "ssm"]
	path = external/ssm
	url = https://github.com/lindermanlab/ssm
[submodule "findr"]
	path = external/findr
	url = https://github.com/Brody-Lab/findr
[submodule "external/lfads-torch"]
	path = external/lfads-torch
	url = https://github.com/arsedler9/lfads-torch.git
